<!doctype html>

<html>
<head>
	<title>Clip - Juno</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/pick.js"></script>
	<script src="js/bootstrap.min.js"></script>      
</head>

<body>
	<div class="container">
	<video controls autoplay>
		<source src="http://trailers.apple.com/movies/fox_searchlight/juno/juno_h480p.mov" type="video/mp4">
	</video>
	</div>

</body>
</html>
