		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="jumbotron">
     	 	<img src="http://s24.postimg.org/pvq4rcgx1/logo_idea.png" style="width: 25%; height:25%" alt="Welcome to Pick!" />
     	 	<!--<h1>Welcome to Pick!</h1>-->
     	 	<p> </p>
 			<p>Pick helps you find a movie to watch! </p>
 			<p style="color:white"> Watch and rate movie trailers as Pick learns what you like to find one that's just right!</p>
		</div>
			{{#if username}}
			<h4>You are logged in as {{username}}. <p>From here, you can:
			<ul>
				<li><a href="/clip">Watch clips.</a></li><br>
				<li><a href="/profile">Pick your genres.</a></li><br>
				<li><a href="/ratinsg">See and change previous ratings.</a></li><br>
			</ul>
			</h4>
			{{else}}
				<button class ="login btn btn-default">Login</button>&nbsp;&nbsp;&nbsp;&nbsp;<button class ="register btn btn-default">Register</button>
			{{/if}}