<!doctype html>

<html>
<head>
	<title>Welcome to Pick</title>	
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/css/bootstrap-theme.min.css" rel="stylesheet">
	  <link href="/css/pick.css" rel = "stylesheet">
	<script src="js/jquery-1.11.0.js"></script>
	<script src="js/pick.js"></script>
	<script src="js/index.js"></script>
	<script src="js/bootstrap.min.js"></script>  
</head>

<body>
	<div class="container">
		<!-- h1 through h6 are headers. The higher the number, the smaller the header -->
		<!-- p means paragraph -->
		<div class="jumbotron">
     	 	<img src="/assets/pick_logo_idea.png" alt="Welcome to Pick!" />
     	 	<!--<h1>Welcome to Pick!</h1>-->
 			<p>Pick helps you find a movie to watch with your friends and family. Watch movie trailers and rate them until Pick's intelligent deduction system finds the one that's right for you!</p>
		</div>
			<button class ="get-started btn btn-default">Use as Guest</button>
			<br>
			<br>
			<div class="fb-login-button" data-max-rows="1" data-size="large" data-show-faces="false" data-auto-logout-link="false"></div>
	</div>

</body>
</html>
