<div class="jumbotron">
	<h2>Login to Pick.</h2>
</div>

<div class="container">
	{{#if error}}
		<p style="color:red">{{error}}</p>
	{{/if}}

	<form action="/login" method="POST">
		<input type="hidden" name="redirect" value="{{redirect}}">
		<label>Username</label>
		<input type="text" name="username">
		<br>
		<label>Password</label>
		<input type="password" name="password">
		<br>
		<!-- <input type="submit" value="Login"> -->
		<button class="btn btn-default">Login</button>
	</form>

	<h3><a href="/register">Don't have an account? Click here to register.</a></h3>
</div>
