<div class="jumbotron">
	<h1>Let's Get Started.</h1>
</div>

<div>
	<form role="form" action="start" method="post">
		<div class="form-group">
			<label for="genres">Genre</label>
			<div>
				{{#each genres}}
				<input type="checkbox" name="{{key}}" {{#if checked}}checked{{/if}}>  {{name}}</input><br/>
				{{/each}}
			</div>
		</div>

		<div class="form-group">
			<input class="btn btn-default" type="submit" value="Save and Watch Clips!"/>
		</div>
	</form>
</div>